.monkeySelectWrapper{
    position: relative;
    min-width: 60px;
    width: 80px;
    user-select: none;
    &:hover {
        .selectedLabel{
             border: 1px solid #00a3fe;
        }
        .selectMenu{
             border: 1px solid #00a3fe;
        }
    }
    .selectedLabel{
        position: relative;
        width: 100%;
        height: 30px;
        line-height: 30px;
        display: inline-block;
        line-height: 30px;
        text-indent: 5px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        vertical-align: bottom;
        border: 1px solid #d5d5d5;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        .label {
            display: inline-block;
            position: absolute;
            left: 0;
            right: 20px;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        .icons{
            position: absolute;
            right: 5px;
        }
    }
    .selectMenu{
        display: none;
        position: relative;
        top: -1px;
        border: 1px solid #d5d5d5;
        list-style: none;
        margin: 0;
        padding: 0;
        width: 100%;
        li {
            height: 30px;
            line-height: 30px;
            text-align: left;
            text-indent: 5px;
            white-space: nowrap;
            overflow: hidden;
            vertical-align: bottom;
            text-overflow: ellipsis;
            &:hover{
                background: #f1f4f9;
            }
        }
    }
    .open{
        .selectMenu{
            display: block;
            position: absolute;
            top: 30px;
            background: #fff;
            z-index: 1;
        }
    }
    .defaultSelect{

    }
}